<div class="chat-container" *ngIf="user">
  <div class="chat-container__room-list" *ngIf="chatRooms$ | async as rooms">
    <app-room-list
      [roomList]="rooms"
      [userId]="user.uid"
      (onDeleteRoom)="deleteRoom($event)"
    ></app-room-list>
  </div>

  <!-- only if in active chat room -->
  <div class="chat-container__active-chat">
    <div class="chat-container__chat" *ngIf="roomMessages$ | async as messages">
      <app-chat
        [messages]="messages"
        (onSendMessage)="sendMessage($event)"
      ></app-chat>
    </div>
    <div class="chat-container__active-users">Active Users</div>
  </div>

  <!-- only if in main chat room -->
  <div class="chat-container__add-room">
    <button (click)="openAddRoomModal()" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
